# Firebase Configuration for Umesh Fencing Works
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBIXnzGHc8RTMkB5tgNFmWLsTbtHg7xGv0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=umesh-fencing-works.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=umesh-fencing-works
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=umesh-fencing-works.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=66574805383
NEXT_PUBLIC_FIREBASE_APP_ID=1:66574805383:web:af43e91fd748a1a2050b22
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-XVFLVR83GJ
